<h1>Como Integrar React JS (16.13.1) en Ruby on Rails (6.0.3.2)</h1> 
 
<div id="root"></div>
 
<!--  Cargo mi componente UbicacionPuntero -->
<%= react_component("UbicacionPuntero", { variable: "valor de lavariable" }) %> 